<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:30</td>  <td>Python episodes 1 to 4</td> </tr>
      <tr> <td>10:50</td>  <td>Morning break</td> </tr>
      <tr> <td>11:05</td>  <td>Python episodes 6 to 9</td> </tr>
      <tr> <td>12:45</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Python episodes 11 to 14</td> </tr>
      <tr> <td>14:55</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:10</td>  <td>Python lessons 16 to 19</td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-up/Feedback</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Unix Shell episodes 1 to 4</td> </tr>
      <tr> <td>11:40</td>  <td>Morning break</td> </tr>
      <tr> <td>11:55</td>  <td>Unix Shell episodes 5 to 6</td> </tr>
      <tr> <td>13:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:15</td>  <td>Version Control with Git episodes 1 to 6</td> </tr>
      <tr> <td>15:55</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:10</td>  <td>Version Control with Git episodes 7 to 9</td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:55</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

For a detailed overview of the lesson plan of the episodes included in this workshop, please view the following webpages:
Programming and Plotting in Python: http://swcarpentry.github.io/python-novice-gapminder/
The Unix Shell: https://swcarpentry.github.io/shell-novice/
Version Control with Git: https://swcarpentry.github.io/git-novice/
